/*GENERAL*/

#home {
    background: url('../img/treadmill-1201014_1280%20copy.jpg');
    background-attachment: fixed;
    background-position: center;
}

hr {
    width: 200px;
    border: 1px solid white;
}

/*Pour le logo*/

img {
    width: 100%;
    padding: 15px;
}

/*HEADER*/

#header {
    background: url('../img/people-2590796_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 700px;
    margin: 10px auto;
    opacity: 0.7;

}

/*CORPS*/

#service {
    background: url('../img/smog-1488962_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 700px;
    margin: 10px auto;
}

#about {
    background: url('../img/box-1514845_1280.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 700px;
    margin: 10px auto;
}

#tarif {
    background: url('../img/smog-1488962_1280%20copy.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 700px;
    margin: 10px auto;
}




/*NAVBAR*/

.black {
    background: !important;
    color: white!important;
    transition: 1s;
}

.black li a.nav-item,
.black li a.nav-link {
    color: white!important;
}

.navbar-dark {
    transition: 1s;
}

.logo {
    width: 150px;

}

.navbar {
    padding-bottom: 0px;
    padding-top: 0px;

}

/*SERVICE*/

.service1 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: grey;
    opacity: 0.3;
}

.service1:hover {
    background-color: darkblue;
    color: white!important;
    font-size: px;
    opacity: 0.7;
}

.service2 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: grey;
    opacity: 0.3;
}

.service2:hover {
    background: darkred;
    color: white!important;
    opacity: 0.7;

}

.service3 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background: grey;
    opacity: 0.3;
}

.service3:hover {
    background-color: darkgreen;
    color: white!important;
    opacity: 0.7;

}

p {
    color: white!important;
}

/*ABOUT*/

/*CONTACT*/

.contact-img {
    background: url('../img/treadmill-1201014_1280%20copy.jpg');
    background-size: cover;
    background-position: right;
    height: 700px;
    width: 1300px;
}



/*FOOTER*/

footer {
    background: ;
    /*    margin: 15px 0 10px 0;*/
    color: ;

}

footer a {
    color: white;
}

footer a:hover {
    color: #17A2B8;
}

footer a:active {
    color: red;
}

footer img {
    width: 150px;
}

#singlebutton:hover {
    background: #17A2B8;
    color: white!important;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {}
